*{
    margin: 0;
    padding: 0;
}
.main{
    height: 109vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.head{
    height: 90px;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid white;
}

.headline{
    height: 90px;
    width: 200px;
    background-color: black;
    padding-left: 650px;
   
}
.headline h1{
    color: rgba(0, 255, 221, 0.8);
    font-size: 48px;
    padding-top: 10px;
}
.headline h1:hover{
    color: aqua;
    border-bottom: 2px solid aqua;
}
.lower{
    height: 105vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.left{
    width: 50%;
    float: left;
    background-color: rgb(0, 0, 0);
    height: 70vh;
}
.lower-side{
   height: 515px;
   width: 100%;
   background-color: rgb(0, 0, 0);
   padding-left: 20px;
   
}
.lower-part{
    padding-top: 30px;
}
.paragraph{
    height: 250px;
    width: 95%;
    background-color: rgb(0, 0, 0);
    padding-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.paragraph h1{
    padding-left: 250px;
    padding-top: px;
    font-family: sans-serif;      
    font-size: 48px;   
    color: rgb(3, 241, 238)
}
.paragraph h1:hover{
    border-bottom: 2px solid aqua;
}
.paragraph p{
    font-size: 34px;
    padding-left: 30px;
    color: rgba(13, 244, 228, 0.796);
    padding-top: 20px;
}
.paragraph p:hover{
    font-size: 36px;
    color: white;
}

.slider-img{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.right{
    width: 50%;
    float: right;
    background-color: rgb(0, 0, 0);
    height: 70vh;
    padding-top: 10px;
}
.images{
    padding-left: 30px;
    padding-top: 5px;
    display: flex;
    gap: 30px;
}
.low-side{
    height: 30vh;
    width: 100%;
}
.lower-nav{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
}
.lower-nav:hover{
    border-bottom: 2px solid aqua;
}
.slides{
    width: 90%;
    height: 150px;
    display: flex;
    gap: 20px;
    padding-left: 100px;
    padding-top: 10px;
}

.slides{
    border-top: 2px solid aqua;
    
} 
.box1{
    height: 230px;
    width: 350px;
    background-color: black;
}
.box1:hover{
    border: 1px solid white;
}
.box1 p{
    font-size:35px;
    padding-left: 30px;
    padding-top: 50px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.box1 p:hover{
    border-bottom: 2px solid aqua;
}
.box1 h2{
    font-size: 48px;
    padding-left: 120px;
    padding-top: 10px;
    color: aqua;
}
.box1 h2:hover{
    border-bottom: 2px solid aqua;
    color: white;
}
.box2{
    height: 230px;
    width: 350px;
    background-color: black;
}
.box2:hover{
    border: 1px solid white;
}
.box2 p{
    font-size:30px;
    padding-left: 20px;
    padding-top: 50px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.box2 p:hover{
    border-bottom: 2px solid aqua;
}
.box2 h2{
    font-size: 48px;
    padding-left: 120px;
    padding-top: 10px;
    color: aqua;
}
.box2 h2:hover{
    border-bottom: 2px solid aqua;
    color: white;
}
.box3{
    height: 230px;
    width: 350px;
    background-color: black;
}
.box3:hover{
    border: 1px solid white;
}
.box3 p{
    font-size:35px;
    padding-left: 30px;
    padding-top: 50px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.box3 p:hover{
    border-bottom: 2px solid aqua;
}
.box3 h2{
    font-size: 48px;
    padding-left: 120px;
    padding-top: 10px;
    color: aqua;
}
.box3 h2:hover{
    border-bottom: 2px solid aqua;
    color: white;
}
.box4{
    height: 230px;
    width: 350px;
    background-color: black;
}
.box4:hover{
    border: 1px solid white;
}
.box4 p{
    font-size:35px;
    padding-left: 30px;
    padding-top: 50px;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.box4 p:hover{
    border-bottom: 2px solid aqua;
}
.box4 h2{
    font-size: 48px;
    padding-left: 100px;
    padding-top: 10px;
    color: aqua;
}
.box4 h2:hover{
    border-bottom: 2px solid aqua;
    color: white;
}
.home{
    width: 100%;
    height: 50px;
    background-color: black;
}
.home a{
    color: white;
    padding-left: 700px;
    font-size: 25px;
    color: rgb(17, 30, 30);
}
.home a:hover{
    font-size: 30px;
    color: aqua;
}